<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
</head>

<body>
  <p>rendered from: <%= @platform %></p>
  <article>
    <header>
      <hgroup>
      <img src="<%= @banner %>" />
      <h1><%= @title %></h1>
      <h2><%= @subtitle %></h2>
      </hgroup>
    </header>
    <%= @body %>
    <% unless media.empty? %>
      <ul>
        <% media.each do |image_url| %>
          <li><img src="<%= image_url %>" /></li>
        <% end %>
      </ul>
    <% end %>
  </article>
</body>
</html>
